<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Hestia{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/slider/slick.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/base.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/add_materials.js') }}"></script>
        {% endblock %}
    </body>
</html>
